/* Definición de variables de colores */

:root {
    /* Blanco */
    --color-blanco: #F6F6F6;
    /* Rosa pálido */
    --color-rosa-palido: #F995E1;
    /* Púrpura claro */
    --color-purpura-claro: #910C6F;
}

footer {
    background-color: var(--color-rosa-palido);
    padding: 20px 50px;
    margin: 30px 30px;
    text-align: center;
    border-radius: 30px;
}

.container__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img_footer img {
    width: 150px;
    height: auto;
}

.contenido_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.parrafo p {
    margin: 5px 0;
    font-family: 'Xanh Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-blanco);
    letter-spacing: 1.5px;
}

.icon__group {
    display: flex;
    gap: 10px;
}

.icon__group a {
    text-decoration: none;
    color: var(--color-purpura-claro);
    font-size: 30px;
}

.icon__group a:hover {
    color: var(--color-blanco);
    /* Color al pasar el ratón */
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {

    footer {
        margin: 10px 10px;
        border-radius: 20px;
    }

    .img_footer img {
        width: 100px;
    }

    .parrafo p {
        font-size: 12px;
        text-align: center;
    }

    .icon__group a {
        font-size: 20px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    footer {
        margin: 10px 10px;
        border-radius: 20px;
    }

    .img_footer img {
        width: 120px;
    }

    .parrafo p {
        font-size: 15px;
        text-align: center;
    }

    .icon__group a {
        font-size: 25px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px y un máximo de 1023px (computadoras portátiles) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    footer {
        margin: 10px 10px;
        border-radius: 20px;
    }

    .img_footer img {
        width: 130px;
    }

    .parrafo p {
        font-size: 15px;
        text-align: center;
    }

    .icon__group a {
        font-size: 25px;
    }
}
