/* Definición de variables de colores */

:root {
    /* Blanco */
    --color-blanco: #F6F6F6;
    /* Rosa intenso */
    --color-rosa-intenso: #F157A4;
    /* Púrpura claro */
    --color-magenta-profundo: #700359;
    /* Rojo */
    --color-rojo: #FF0000;
}

.agregar_producto {
    width: 20%; /* Ajuste de ancho para mejor distribución */
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 8px var(--color-rosa-intenso); 
    background-color: rgba(255, 255, 255, 0.4);
    max-height: 500px;
}

.agregar_producto h1 {
    font-family: 'Xanh Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    color: var(--color-magenta-profundo);
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form_container_galeria {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.form_container_galeria input {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    height: 25px;
    font-family: 'Xanh Mono', monospace;
    box-shadow: -2px -4px 8px var(--color-rosa-intenso);
}

.button_container_galeria {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button_submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-magenta-profundo);
    color: var(--color-blanco);
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    font-family: 'Xanh Mono', monospace;
    transition: all 500ms;
}

.button_submit:hover {
    background-color: var(--color-rosa-intenso);
    transform: scale(1.30);
}

  /* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {
    .section_container {
        flex-direction: column; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .agregar_producto {
        width: 80%; 
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 300px;
        order: -1;
        margin-bottom: 20px;
        justify-content: center;
    }
    
    .agregar_producto h1 {
        font-size: 18px;
        padding-bottom: 1px;
    }
    
    .form_container_galeria {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 100%;
    }
    
    .form_container_galeria input {
        padding: 10px;
        border-radius: 5px;
        font-size: 12px;
        height: 15px; 
    }
    
    .button_container_galeria {
        flex-direction: column; /* Botones en columna */
        align-items: center; /* Centra los botones */
        width: 80%; 
    }
    
    .button_submit {
        
        text-align: center;
        justify-content: center;
        font-size: 15px;
        width: 80%; /* Ajusta el ancho del botón para dispositivos pequeños */
        margin-bottom: 10px;
        height: 30px;
        transition: all 500ms;
        align-items: center;
    }
    
    .button_submit:hover {
        background-color: var(--color-rosa-intenso);
        transform: scale(1);
    }
    
  }
  
  /* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Tus estilos aquí */
  }
  
  /* Estilos para dispositivos con un ancho mínimo de 769px y un máximo de 1023px (computadoras portátiles) */
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* Tus estilos aquí */
  }
  
  /* Estilos para dispositivos con un ancho mínimo de 1024px (computadoras de escritorio) */
  @media only screen and (min-width: 1024px) {
    /* Tus estilos aquí */
  }