/* Definición de variables de colores */

:root {
    /* Blanco */
    --color-blanco: #F6F6F6;
    /* Rosa pastel */
    --color-rosa-pastel: #FA8AE0;
    /* Rosa pálido */
    --color-rosa-palido: #F995E1;
    /* Gris claro */
    --color-gris-claro: #CCC;
    /* Rosa intenso */
    --color-rosa-intenso: #F157A4;
    /* Púrpura claro */
    --color-purpura-claro: #910C6F;
    /* Púrpura oscuro */
    --color-purpura-oscuro: #2B051C;
    /* Púrpura profundo */
    --color-purpura-profundo: #810338;
    /* Rojo */
    --color-rojo: #FF0000;
}

body {
    background-image: url('../img/background.jpg');
}

/* HEADER */

header {
    padding: 20px 50px 0 50px;
}

.container__header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 15px;
    width: 220px;
    height: 220px;
    box-shadow: 2px 2px 5px var(--color-rosa-pastel);
}

nav {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-rosa-palido);
    display: flex;
    align-items: center;
}

.nav__toggle {
    color: var(--color-purpura-claro);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.nav-item {
    display: inline;
    margin: 0 20px;
}

.nav-link {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-blanco);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--color-purpura-claro);
    font-size: 25px;
    text-decoration: underline;
    transition: font-size 0.9s ease;
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {

    /* .container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } */

    img {
        width: 130px;
        height: 130px;
        border-radius: 5px;
        margin: auto;
    }

    nav {
        
        flex-direction: column;
        right: 3%;
        position: absolute;
        justify-content: space-between;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: var(--color-rosa-palido);
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: var(--color-purpura-claro);
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    img {
        width: 200px;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: var(--color-rosa-palido);
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: var(--color-purpura-claro);
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}


/* SECCIÓN SERVICIOS */

.container__servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 200px 400px 0px 400px;
    background-color: antiquewhite;
}

.servicios {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.icon-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* Espacio entre el icono y el texto */
    font-size: 30px;
    color: var(--color-purpura-claro);
}

.informacion h3 {
    font-family: 'Xanh Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    box-shadow: 2px 2px 5px var(--color-rosa-intenso);
    color: var(--color-purpura-oscuro);
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.informacion p {
    font-family: 'Xanh Mono', monospace;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-purpura-oscuro);
    line-height: 1.2;
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {
    .container__servicios {
        display: flex;
        padding: 200px 20px 0px 20px;
    }

    .icon-group {
        font-size: 20px;
    }

    .informacion h3 {
        font-size: 20px;
    }

    .informacion p {
        font-size: 15px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container__servicios {
        display: flex;
        padding: 200px 20px 0px 20px;
    }

    .icon-group {
        font-size: 20px;
    }

    .informacion h3 {
        font-size: 20px;
    }

    .informacion p {
        font-size: 15px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px y un máximo de 1023px (computadoras portátiles) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .container__servicios {
        display: flex;
        padding: 200px 80px 0px 80px;
    }

    .icon-group {
        font-size: 25px;
    }

    .informacion h3 {
        font-size: 25px;
    }

    .informacion p {
        font-size: 20px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 1024px y un máximo de 1200px (computadoras de escritorio) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .container__servicios {
        display: flex;
        padding: 200px 80px 0px 80px;
    }
}


/* Sección Entérate de nuestras colecciones */

.sendEmail__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.sendEmail__Container h1 {
    font-family: 'Xanh Mono', monospace;
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 25px;
    color: var(--color-purpura-profundo);
}

.form__container {
    text-align: center;
}

/* CAJA EMAIL */

.form__container .email {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--color-purpura-claro);
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
}

/* boton enviar CAJA EMAIL */
.button__sendEmail {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--color-purpura-claro);
    width: 100px;
    height: 40px;
    color: var(--color-purpura-claro);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-blanco);
}

.button__sendEmail:hover {
    color: var(--color-blanco);
    background-color: var(--color-purpura-claro);
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {
    /* Sección Entérate de nuestras colecciones */

    .sendEmail__Container {
        margin-top: 200px;
        background-color: aqua;
    }

    .sendEmail__Container h1 {
        font-size: 15px;
    }

    /* CAJA EMAIL */

    .form__container .email {
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid var(--color-purpura-claro);
        width: 200px;
        height: 30px;
    }

    /* boton enviar CAJA EMAIL */
    .button__sendEmail {
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid var(--color-purpura-claro);
        width: 80px;
        height: 30px;
    }

}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Estilos para dispositivos con un ancho mínimo de 769px y un máximo de 1023px (computadoras portátiles) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {}

/* Estilos para dispositivos con un ancho mínimo de 1024px y un máximo de 1200px (computadoras de escritorio) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {}


/* Estilos para errores y botón JS validación del campo email*/

.button__sendEmail:disabled {
    background: var(--color-gris-claro);
    cursor: not-allowed;
}

.error {
    display: flex;
    flex-direction: column;
    color: var(--color-rojo);
    font-weight: bold;
    font-family: 'Xanh Mono', monospace;
}

/* aquí termina Estilos para errores y botón JS */


/* MODAL */

/* Estilos para el modal */
.container__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Se activará el scroll si es necesario */
    background-color: rgba(249, 149, 225, 0.3);
}

/* Ajuste para centrar la modal */
.container__modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para el contenido del modal */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 700px;
    height: 380px;
    background-image: url('../img/backgroundModal.jpg');
    border: 2px solid var(--color-purpura-claro);
    box-shadow: 0 0 10px;
    border-radius: 20px;
}

.mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 400px;
    font-family: 'Xanh Mono', monospace;
    font-size: 25px;
    margin: auto;
    padding-bottom: 110px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    color: var(--color-purpura-claro);
}

/* Estilos para el botón de cerrar la modal */
.close {
    color: var(--color-purpura-claro);
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--color-rosa-intenso);
    text-decoration: none;
    cursor: pointer;
}