
body{
    background-image: url('./img/fondo1.jpg');
}

img{
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow:2px 2px 5px rgb(238, 54, 146);
   
}

nav{
    font-family: 'Xanh Mono', monospace;
    position: absolute;
    z-index: 30;
}

/* iconos */
.fas{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: #910c6f;
    padding-left: 60%;
}

/* correo */

#box{
    text-align: center;
    
}

#form{
    font-family: 'Xanh Mono', monospace;
    font-weight: bolder;
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 150%;
    color: rgb(129, 3, 56);
    background-position: center;
    text-align: center;
   
}

/* caja email */

#email{
    
    border-radius: 10px;
    width: 500px;
    height: 40px;
    margin: 10px 0 10px 0;
    border: 2px solid rgb(160, 49, 127);
    text-align: center;

}

/* boton enviar */
#submit{
    border: 2px solid rgb(160, 49, 127);
    border-radius: 10px;
    
}

/* video */

#video{
    width: 80%;
    height: 80%;
    border: 2px solid rgb(160, 49, 127);

}

h3{
    font-family:'Xanh Mono', monospace;
    font-weight: 700;  
    box-shadow:2px 2px 5px rgb(241, 87, 164);
    color: rgb(43, 5, 28);

}
p{
    font-family:'Xanh Mono', monospace;
    font-weight: 600;  
    font-size: 20px;
}

#nav-bar{
    position: fixed;
    font-weight: 700;
}

@media(max-width: 500px){

    .boton{
        background-color: aqua;
    }
}
#galeria .col.lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeria img{
    width: 90%;
    height: 90%;
}
/* texto galeria */
h1{
    font-family:'Xanh Mono', monospace;
    text-align: center;
    color: rgb(112, 3, 89);
    box-shadow:2px 2px 5px rgb(241, 87, 164);
}
/* imagenes mandala */

.img-galeri{
    background-image: url('./img/man2.jpg');
    padding: 1% 1% 1% 1%;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5%;
   
}
.img-show{
    transform: scale(0.8);
   
}

/* footer */
#galeria{
    width: 90%;
    height: 90%;
    margin-left: 50px;
}

/* footer */
#footer{
    background-color: rgb(238, 143, 209);
    padding-top: 20px;
    font-family:'Xanh Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px;
    margin-top: 20px;
    padding-bottom: 20px;

}

#img-footer{
    width: 90%;
    height: 90%;
   
}
h5{
    color:black;
    margin-top: 30%;
}
h6{
    color:black;
    margin-top: 30%;
}