/* Definición de variables de colores */

:root {
    /* Blanco Brillante */
    --color-blanco: #F6F6F6;
    /* Rosa Algodón de Azúcar */
    --color-rosa-algodon-azucar: #FA8AE0;
    /* Rosa Nube de Algodón */
    --color-rosa-nube-algodon: #F995E1;
    /* Rosa Crepúsculo Profundo */
    --color-rosa-crepusculo-profundo: #910C6F;
    /* Rosa Medianoche */
    --color-rosa-medianoche: #2B051C;
    /* Rosa Cereza Intensa */
    --color-rosa-cereza-intensa: #F157A4;

    --color-rosa-cereza-intensa: #810338
}

body {
    background-image: url('./img/background.jpg');
}

/* HEADER */

header {
    padding: 20px 50px 0 50px;
}

.container__header {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 15px;
    width: 220px;
    height: 220px;
    box-shadow: 2px 2px 5px #FA8AE0;
}

nav {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F995E1;
    display: flex;
    align-items: center;
}

.nav__toggle {
    color: #910C6F;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.nav-item {
    display: inline;
    margin: 0 20px;
}

.nav-link {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: #F6F6F6;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #910C6F;
    font-size: 25px;
    text-decoration: underline;
    transition: font-size 0.9s ease;
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {

    img {
        width: 200px;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: #F995E1;
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: #910C6F;
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    img {
        width: 200px;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: #F995E1;
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: #910C6F;
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}


/* SECCIÓN SERVICIOS */

.container__servicios {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding-top: 200px;
}

.servicios {
    display: flex;
}

.icon-group {
    margin-right: 20px;
    /* Espacio entre el icono y el texto */
    font-size: 30px;
    color: #910C6F;
}

.informacion h3 {
    font-family: 'Xanh Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    box-shadow: 2px 2px 5px #F157A4;
    color: #2B051C;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.informacion p {
    font-family: 'Xanh Mono', monospace;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #2B051C;
    line-height: 1.2;
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {
    .container__servicios {
        width: 500px;
    }

    .servicios {
        margin: 0 30px;
    }

    .icon-group {
        font-size: 25px;
    }

    .informacion h3 {
        font-size: 20px;
    }

    .informacion p {
        font-size: 15px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container__servicios {
        width: 600px;
    }

    .servicios {
        margin: 0 30px;
    }

    .icon-group {
        font-size: 25px;
    }

    .informacion h3 {
        font-size: 20px;
    }

    .informacion p {
        font-size: 15px;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 769px y un máximo de 1023px (computadoras portátiles) */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .servicios {
        margin: 0 40px;
    }
}


/* Sección Entérate de nuestras colecciones */

.sendEmail__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.sendEmail__Container h1 {
    font-family: 'Xanh Mono', monospace;
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 25px;
    color: #810338;
}

.form__container {
    text-align: center;
}

/* CAJA EMAIL */

.form__container #email {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #910C6F;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}

/* boton enviar CAJA EMAIL */
.button__sendEmail {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #910C6F;
    width: 100px;
    height: 40px;
    color: #910C6F;
    font-weight: bold;
    cursor: pointer;
    background-color: #F6F6F6;
}

.button__sendEmail:hover {
    color: #F6F6F6;
    background-color: #910C6F;
}









/* MODAL */

/* Estilos para el modal */
.container__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(249, 149, 225, 0.3);
}

/* Ajuste para centrar la modal */
.container__modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para el contenido del modal */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 700px;
    height: 380px;
    background-image: url('./img/seis.jpg');
    border: 2px solid #910C6F;
    box-shadow: 0 0 10px;
    border-radius: 20px;
}

.mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 400px;
    font-family: 'Xanh Mono', monospace;
    font-size: 25px;
    margin: auto;
    padding-bottom: 110px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    color: #910C6F;
}

/* Estilos para el botón de cerrar la modal */
.close {
    color: #910C6F;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #F157A4;
    text-decoration: none;
    cursor: pointer;
}