/* Definición de variables de colores */

:root {
    /* Blanco Brillante */
    --color-blanco: #F6F6F6;
    /* Rosa Algodón de Azúcar */
    --color-rosa-algodon-azucar: #FA8AE0;
    /* Rosa Nube de Algodón */
    --color-rosa-nube-algodon: #F995E1;
    /* Rosa Crepúsculo Profundo */
    --color-rosa-crepusculo-profundo: #910C6F;
    /* Rosa Medianoche */
    --color-rosa-medianoche: #2B051C;
    /* Rosa Cereza Intensa */
    --color-rosa-cereza-intensa: #F157A4;
}

body {
    background-image: url('./img/fondo1.jpg');
}

/* HEADER */

header {
    padding: 20px 50px 0 50px;
}

.container__header {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 15px;
    width: 220px;
    height: 220px;
    box-shadow: 2px 2px 5px #FA8AE0;
}

nav {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F995E1;
    display: flex;
    align-items: center;
}

.nav__toggle {
    color: #910C6F;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.nav-item {
    display: inline;
    margin: 0 20px;
}

.nav-link {
    font-family: 'Xanh Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: #F6F6F6;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #910C6F;
    font-size: 25px;
    text-decoration: underline;
    transition: font-size 0.9s ease;
}

/* Estilos para dispositivos con un ancho máximo de 480px (celulares) */
@media only screen and (max-width: 480px) {

    img {
        width: 200px;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: #F995E1;
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: #910C6F;
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}

/* Estilos para dispositivos con un ancho mínimo de 481px y un máximo de 768px (tabletas) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    img {
        width: 200px;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        right: 80px;
    }

    .nav-menu {
        display: none;
        left: 0;
        background-color: #F995E1;
        border-radius: 5px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 20px;
        flex-direction: column;
    }

    .nav__toggle {
        display: block;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link:hover {
        color: #910C6F;
        font-size: inherit;
        text-decoration: none;
    }

    .nav-menu_visible {
        display: flex;
    }
}


/* SERVICIOS */

.container__servicios {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espacio entre cada elemento */
    width: 940px;
    margin: 0 auto;
    padding-top: 200px;
}

.servicios {
    display: flex;
}

.icon-group {
    margin-right: 20px;
    /* Espacio entre el icono y el texto */
    font-size: 30px;
    color: #910C6F;
}

.informacion h3 {
    font-family: 'Xanh Mono', monospace;
    font-weight: 700;
    font-size: 30px;
    box-shadow: 2px 2px 5px #F157A4;
    color: #2B051C;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.informacion p {
    font-family: 'Xanh Mono', monospace;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #2B051C;
    line-height: 1.2;
}